.ticket-container {
    width: clamp(300px, 100%, 40%);
    margin: 100px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: clamp(0.8rem, 1vw, 1rem);
}
.ticket-title {
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 10px;
}
dt, .status, .id-ticket {
    font-weight: bold;
}
.status-open {
    background: #fca4a4;
    box-shadow: #fca4a4 0px 0px 10px 5px;

}
.status-progress {
    background: #ffedb3;
    box-shadow: #ffedb3 0px 0px 10px 5px;

}
.status-closed {
    background: #c4f8d0;
    box-shadow: #c4f8d0 0px 0px 10px 5px;
}
.ticket-info {
    display: flex;
    gap: 5px;
}
.ticket-container p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.ticket-description h3 {
    margin-bottom: 1%;
}
.ticket-description p {
    line-height: 1.6;
    overflow: auto;
    height: 250px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #0078ff;
}
pre {
    white-space: pre-wrap;
}