.navbar {
    padding: 1rem 2rem;
    background-color: #fff;
}
.nav-links {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
ul {
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
    color: #2c3e50;
    cursor: pointer;
}
a:hover, .logout:hover {
    color:#2563eb;
}
li {
    list-style: none;
}
.logout {
    background-color: transparent;
}