<header>
    <nav class="navbar" aria-label="Menu principal">
        <div class="nav-links">
            <h1>
                <a class="logo" routerLink="" aria-label="Retour à l'accueil">TicketManager</a>
            </h1>
            <div class="nav-spacer">
                <ul>
                    @if (!isConnected){
                        <li><a routerLink="/sign-in">Connexion</a></li>
                        <li><a routerLink="/sign-up">Inscription</a></li>
                    } @else {
                        <li><button class="logout" type="button" (click)="logout()">Se déconnecter</button></li>
                    } 
                </ul>
            </div>
        </div>
    </nav>
</header>
