<section>
    <div class="header-dashboard">
        <h2>Vos tickets ⤵</h2>
        <select (change)="onStatusChange($event)" id="filter-status" aria-label="Filtrer les tickets par statut">
            <option value="tous">Tous</option>
            <option value="ouvert">Ouvert</option>
            <option value="en cours">En cours</option>
            <option value="fermé">Fermé</option>
        </select>
    </div>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                @for(ticket of tickets$ | async ; track ticket._id){
                    <tr app-tickets-card [ticket]="ticket"></tr>
                }
                @empty{
                    <tr>
                        <td colspan="5" class="empty-message">Aucun ticket trouvé</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
