section {
    margin-bottom: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.table-wrapper {
  width: 100%;
}
.header-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: clamp(0.8rem, 1vw, 3rem);
}
thead {
    background: #d6d6d6;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}
.empty-message {
    text-align: center;
}

@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
    width: 100%;
  }
  thead {
    display: none;
  }
  tr {
    margin-bottom: 20px;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  td {
    display: flex;
    padding: 8px 0;
    align-items: center;
  }
  td::before {
    content: attr(data-label);
    font-weight: bold;
  }
}