<section>
    <div class="header-dashboard">
        <h2>Vos tickets ⤵</h2>
        <select id="filter-status" aria-label="Filtrer les tickets par statut">
            <option>Tous</option>
            <option>Ouvert</option>
            <option>En cours</option>
            <option>Fermé</option>
        </select>
    </div>

    <table>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Statut</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            @for(ticket of tickets; track ticket.id){
                <tr app-tickets-card [ticket]="ticket"></tr>
            }
            @empty{
                <tr>
                    <td colspan="5" class="empty-message">Aucun ticket trouvé</td>
                </tr>
            }
        </tbody>
    </table>
</section>
