<section class="signin-section">
    <div class="signin-div">
        <h2>Connexion</h2>
        <form class="signin-form" [formGroup]="signInForm">

            <label for="email">Email</label>
            <input type="email" placeholder="Exemple@gmail.fr" formControlName="email" required>
            @if(signInForm.get('email')?.invalid && (signInForm.get('email')?.touched || signInForm.get('email')?.dirty)) {
                @if(signInForm.get('email')?.errors?.['required']){
                    <div class="text-error">Ce champ est obligatoire</div>
                } @else if (signInForm.get('email')?.errors?.['email']){
                    <div class="text-error">Veuillez entrer une adresse email valide</div>
                } 
            }

            <label for="password">Mot de passe</label>
            <input type="password" placeholder="********" formControlName="password" required>
            @if(signInForm.get('password')?.invalid && (signInForm.get('password')?.touched || signInForm.get('password')?.dirty)) {
                @if(signInForm.get('password')?.errors?.['required']){
                    <div class="text-error">Ce champ est obligatoire</div>
                }
            }

            <button type="submit" (click)="signIn()">Se connecter</button>

            <a class="forgoten-password">Mot de passe oublié ?</a>
        </form>
    </div>
</section>