<section class="signup-section">
    <div class="signup-div">
        <h2>Inscription</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="signup-form">

            <label for="name">Votre nom</label>
            <input type="text" id="name" formControlName="name" placeholder="Votre nom" aria-describedby="name-error"
                    [attr.aria-invalid]="signUpForm.get('name')?.invalid && (signUpForm.get('name')?.touched || signUpForm.get('name')?.dirty)" 
                    autocomplete="on" required>
            <div class="text-error" id="name-error" aria-live="polite">
                @if(signUpForm.get('name')?.invalid && (signUpForm.get('name')?.touched || signUpForm.get('name')?.dirty)) {
                    @if(signUpForm.get('name')?.errors?.['required']){
                        Ce champ est obligatoire
                    } @else if (signUpForm.get('name')?.errors?.['minlength'] || (signUpForm.get('name')?.errors?.['maxlength'])){
                        3 à 20 caractères
                    } 
                }
            </div>

            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="Email" aria-describedby="email-error"
                    [attr.aria-invalid]="signUpForm.get('email')?.invalid && (signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty)" 
                    autocomplete="email" inputmode="email" required>
            <div class="text-error" id="email-error" aria-live="polite">
                @if(signUpForm.get('email')?.invalid && (signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty)) {
                    @if(signUpForm.get('email')?.errors?.['required']){
                        Ce champ est obligatoire
                    } @else if (signUpForm.get('email')?.errors?.['email']){
                        Veuillez entrer une adresse email valide
                    } 
                }
            </div>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" formControlName="password" placeholder="Mot de passe" aria-describedby="password-error"
                    [attr.aria-invalid]="signUpForm.get('password')?.invalid && (signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty)" 
                    autocomplete="new-password" required>
            <div class="text-error" id="password-error" aria-live="polite">
                @if(signUpForm.get('password')?.invalid && (signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty)) {
                    @if(signUpForm.get('password')?.errors?.['required']){
                        Ce champ est obligatoire
                    } @else if (signUpForm.get('password')?.errors?.['minlength'] || signUpForm.get('password')?.errors?.['maxlength']){
                        6 à 10 caractères
                    }
                }
            </div>

            <label> 
                <input type="checkbox" id="cgu" formControlName="cgu" aria-describedby="cgu-error"
                    [attr.aria-invalid]="signUpForm.get('cgu')?.invalid && (signUpForm.get('cgu')?.touched || signUpForm.get('cgu')?.dirty)" 
                    required>
                J'accepte les conditions générales d'utilisation
            </label>
            <div class="text-error" id="cgu-error" aria-live="polite">
                @if(signUpForm.get('cgu')?.invalid && (signUpForm.get('cgu')?.touched || signUpForm.get('cgu')?.dirty)) {
                    @if(signUpForm.get('cgu')?.errors?.['required']){
                        Veuillez accepter les conditions
                    } 
                }
            </div>

            <button type="submit" [disabled]="signUpForm.invalid">S'inscrire</button>
        </form>
    </div>
</section>
