.signup-section {
    padding: clamp(5%, 2vw, 20%);
}
.signup-div {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: clamp(300px, 100%, 25%);
    margin: 0 auto;
    text-align: center;
}
.signup-form button {
    background: #2d6cdf;
    color: white;
}
.signup-form button:disabled {
    cursor: not-allowed;
    background: grey;
}

.help {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.tooltip {
    position: absolute;
    bottom: 25px;
    left: -38px;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    width: max-content;
    max-width: 300px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}
.help:hover .tooltip {
  opacity: 1;
  visibility: visible;
}