<section class="create-ticket">
     @if (isEditMode){
       <a routerLink="/">← Retour</a>
    } 
    <h2>{{isEditMode ? 'Modifier le ticket' : 'Créer un ticket'}}</h2>
    <form class="ticket-form" [formGroup]="createTicketForm" (ngSubmit)="saveTicket()">

        <label for="titre">Titre du ticket</label>
        <input type="text" formControlName="titre" placeholder="Exemple : Problème de connexion" id="titre" aria-describedby="titre-error" 
                [attr.aria-invalid]="createTicketForm.get('titre')?.invalid && (createTicketForm.get('titre')?.touched || createTicketForm.get('titre')?.dirty)"
                minlength="3" maxlength="50" autocomplete="off">
        <div class="text-error" id="titre-error" aria-live="polite">
            @if(createTicketForm.get('titre')?.invalid && (createTicketForm.get('titre')?.touched || createTicketForm.get('titre')?.dirty)) {
                @if(createTicketForm.get('titre')?.errors?.['required']){
                    Ce champ est obligatoire
                } @else if (createTicketForm.get('titre')?.errors?.['minlength'] || (createTicketForm.get('titre')?.errors?.['maxlength'])){
                    3 à 50 caractères
                } 
            }
        </div>

        <label for="description">Description</label>
        <textarea formControlName="description" placeholder="Description de votre problème" rows="6" id="description" 
                [attr.aria-invalid]="createTicketForm.get('description')?.invalid && (createTicketForm.get('description')?.touched || createTicketForm.get('description')?.dirty)"
                aria-describedby="description-error" maxlength="1000" autocomplete="off"></textarea>
        <div class="text-error" id="description-error" aria-live="polite">
            @if(createTicketForm.get('description')?.invalid && (createTicketForm.get('description')?.touched || createTicketForm.get('description')?.dirty)) {
                @if(createTicketForm.get('description')?.errors?.['required']){
                    Ce champ est obligatoire
                } @else if (createTicketForm.get('description')?.errors?.['maxlength']){
                    Maximum 1000 caractères
                } 
            }
        </div>

        <button class="btn-createTicket" [disabled]="createTicketForm.invalid" type="submit">Enregistrer</button>
    </form>
</section>
