.dashboard {
    padding: 20px 0;
}
.dashboard-nav {
    display: flex;
    gap: 5%;
    margin-bottom: 20px;
    justify-content: center;
}
.dashboard-nav button {
    font-size: clamp(0.8rem, 1vw, 3rem);
}
.active {
    background: #2c3e50;
    color: white;
}
h2 {
    text-align: center;
    margin: 40px auto;
    font-size: clamp(1.5rem, 1.5vw, 5rem);
}