<main class="dashboard">
    @if(isConnected){
        <nav aria-label="Navigation utilisateur" class="dashboard-nav">
            <button type="button" [class.active]="sectionActive === 'tickets'" (click)="changeSection('tickets')">Vos tickets</button>
            <button type="button" [class.active]="sectionActive === 'create'" (click)="changeSection('create')">Créer un ticket</button>
        </nav>
        <section class="section">
            @if(sectionActive === 'tickets') {
                <app-tickets></app-tickets>
            }
            @if(sectionActive === 'create') {
                <app-create-ticket></app-create-ticket>
            }
        </section>
    }
</main>