.dashboard {
    padding: 20px 0;
}
.dashboard-nav {
    display: flex;
    gap: 5%;
    margin-bottom: 20px;
    justify-content: center;
}
.dashboard-nav button {
    font-size: clamp(10px, 2vw, 18px);
}
.active {
    background: #2c3e50;
    color: white;
}
h2 {
    text-align: center;
    margin: 50px 20px;
    font-size: xx-large;
}